<div class="text-center">
 <h1>卵料理ランキング</h1>
</div>
<% @recipes.each do |eggrecipe| %>
  <div class="row">
    <div class="eggrecipe">
      <div class="text-center">
        <h3><%= link_to eggrecipe.name, eggrecipe %></h3>
      </div>
    </div>
  </div>
<% end %>

