<div class="text-center">
<h1>人気メニューランキング</h1>
</div>
<% @recipes.each do |popular_recipe| %>
 <div class="row">
   <div class="popular_recipe">
     <div class="text-center">
      <h3><%= link_to popular_recipe.name, popular_recipe %></h3>
      </div>
    </div>
  </div>
<% end %>