<h1>カテゴリ一覧(人気メニュー)</h1>
<% @recipes.each do |popular_recipe| %>
  <div class="row">
    <div class="popular_recipe">
      <div class="col-md-3 col-sm-4 col-xs-12">
        <%= popular_recipe.title %>
        <img src="<%= popular_recipe %>" alt="" >
      </div>
    </div>
  </div>
<% end %>