<div class="text-center">
  <h1>ご飯ものランキング</h1>
</div>
<% @recipes.each do |ricerecipe| %>
  <div class="row">
    <div class="ricerecipe">
      <div class="text-center">
        <h3><%= link_to ricerecipe.name, ricerecipe %></h3>
      </div>
    </div>
  </div>
<% end %>

