<h1>カテゴリ一覧(ご飯もの)</h1>
<% @recipes.each do |ricerecipe| %>
  <div class="row">
    <div class="ricerecipe">
      <div class="col-md-10 col-sm-4 col-xs-12">
        <%= ricerecipe.title %>
        <img src="<%= ricerecipe %>" alt="" >
      </div>
    </div>
  </div>
<% end %>